* {
  font-family: 'Montserrat';
  font-weight: bold;
}
body {
  display: flex;
  justify-content: center;
  background: #0B0A10;
}
p {
  border: 2px #5900b3 solid;
  border-radius: 40px;
  padding: 20px;
  color: #d966ff;
}
